.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5e00da;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .chat-box {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 15px;
    max-height: 500px;
  }
  
  .chat-title {
    background-color: #5e00da;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-align: center;
  }
  
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  
  .chat-input {
    padding: 10px;
    border-radius: 7px;
  }
  
  .chat-input input {
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid #ccc;
  }
  